.CarouselWrapper {
    filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, .75));
}

.Carousel {
    scroll-snap-align: center;
    width: 100vw;
    min-height: 75vh;
    background-position: center;
    background-color: rgb(239, 237, 233);
    background-size: cover;
    position: relative;
    z-index: 1;
    box-shadow: 1px 1px 10px rgba(4, 9, 30, 0.2);
    background-image: linear-gradient(rgba(4, 9, 30, 0.4), rgba(4, 9, 30, 0.2)),
        url(../../../Assets/texture1.jpg);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}