.Reviews {
    scroll-snap-align: center;
    min-height: 100vh;
    width: 100%;
    background-color: rgb(239, 237, 233);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.BookCard {
    width: 90%;
    padding: 1rem;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Title {
    margin: 1rem 0;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, .25);
    font-style: italic;
}

.InputDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.Input {
    width: 90%;
    height: 64px;
    margin: 0.5rem 0 1rem 0;
    border: none;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
    border-radius: 30px;
    text-align: center;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: transparent;
    outline: none;
}

.EmergencyDiv {
    width: 75%;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
    margin: .5rem 0 2rem 0;
}

.EmergencyButton {
    padding: 1rem;
    width: 100%;
    height: 64px;
    border: none;
    color: white;
    object-fit: cover;
    background-image: linear-gradient(rgba(4, 9, 30, 0.2), rgba(4, 9, 30, 0.4)),
        url(../../../Assets/texture3.jpg);
    cursor: pointer;
    transition: .2s all ease-in-out;
}

.EmergencyButtonHighlighted {
    padding: 1rem;
    width: 100%;
    height: 64px;
    border: none;
    color: black;
    object-fit: cover;
    background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(231, 232, 235, 0.4)),
        url(../../../Assets/texture3.jpg);
    cursor: pointer;
    transition: .2s all ease-in-out;
}

.EmergencyButton:hover {
    background: rgb(210, 210, 210);
    color: rgb(140, 140, 140);
}

.EmergencyButton:active {
    background: black;
    color: white;
}

.SubmitButton {
    padding: 1rem;
    width: 100%;
    height: 64px;
    border: none;
    color: white;
    object-fit: cover;
    box-shadow: 1px 1px 10px rgba(4, 9, 30, 0.2);
    background-image: linear-gradient(rgba(4, 9, 30, 0.2), rgba(4, 9, 30, 0.4)),
        url(../../../Assets/texture3.jpg);
    cursor: pointer;
    transition: .2s all ease-in-out;
    border-radius: 30px;
}

.SubmitButton:hover {
    background: rgb(210, 210, 210);
    color: rgb(140, 140, 140);
}

.SubmitButton:active {
    background: black;
    color: white;
}