.Info2 {
    scroll-snap-align: center;
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
}

.LeftSide {
    width: 100%;
    min-height: 75vh;
    background-color: rgb(38, 35, 35);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.LearnButton {
    padding: 1rem 2rem;
    background: transparent;
    color: white;
    font-size: 1.25rem;
    cursor: pointer;
    transition: .2s all ease-in-out;
    text-decoration: none;
    position: relative;
    z-index: 1;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    position: relative;
}

.LearnButton::after,
.LearnButton::before {
    border: 2px solid white;
    content: '';
    position: absolute;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: .2s all ease-in-out;
}

.LearnButton:hover {
    opacity: 1;
    color: gold;
}

.LearnButton:active {
    transform: scale(.9);
    opacity: 0;
}

.LearnButton:hover::after {
    transform: translateX(-10%) translateY(-10%);
    border: 2px solid gold;
}

.LearnButton:hover::before {
    transform: translateX(10%) translateY(10%);
    border: 2px solid gold;
}

.RightSide {
    width: 100%;
    min-height: 75vh;
    background-color: rgb(239, 237, 233);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .5) inset;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TextBox {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Header {
    z-index: 1;
    position: relative;
    font-size: 3rem;
    font-weight: 700;
    font-style: italic;
    margin: 1rem 0;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
}

.TextDesc {
    z-index: 1;
    position: relative;
    color: white;
    font-style: italic;
    text-shadow: 1px 1px 18px rgba(0, 0, 0, 1);
    letter-spacing: .025rem;
}

.Logo {
    object-fit: contain;
    width: 10rem;
    opacity: .25;
}

.Image1 {
    object-fit: contain;
    width: 300px;
    position: absolute;
    z-index: 1;
    filter: brightness(.5) contrast(.95);
    right: 33%;
    margin: -3rem 0 0 0;
}

.Image2 {
    object-fit: contain;
    width: 420px;
    position: absolute;
    z-index: 1;
    filter: brightness(.5) contrast(.95);
    right: 5%;
    margin: 8rem 0 0 0;
}

.Image3 {
    object-fit: contain;
    width: 375px;
    position: absolute;
    z-index: 1;
    filter: brightness(.5) contrast(.95);
    right: 7%;
    margin: -8rem 0 0 0;
}

.Image4 {
    object-fit: contain;
    width: 300px;
    position: absolute;
    z-index: 1;
    filter: brightness(.5) contrast(.95);
    right: 33%;
    margin: -3rem 0 0 0;
}

.Image5 {
    object-fit: contain;
    width: 400px;
    position: absolute;
    z-index: 1;
    filter: brightness(.5) contrast(.95);
    right: 5%;
    margin: 8rem 0 0 0;
}

.Image6 {
    object-fit: contain;
    width: 375px;
    position: absolute;
    z-index: 1;
    filter: brightness(.5) contrast(.95);
    right: 7%;
    margin: -8rem 0 0 0;
}