.Info3 {
    scroll-snap-align: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: -2;
    background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(4, 9, 30, 0.5)),
        url(../../../Assets/clouds.jpg);
}

.InfoTitle {
    font-size: 2rem;
    opacity: .25;
    font-style: italic;
    position: absolute;
    top: 2.5%
}

.IconLeft {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    opacity: .25;
    transition: .2s all ease-in-out;
    cursor: pointer;
}

.IconLeft:hover {
    opacity: 1;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, .75);
    transform: translateX(-10%);
}

.IconLeft:active {
    opacity: 0;
    transform: translateX(0%);
}

.IconRight {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    opacity: .25;
    transition: .2s all ease-in-out;
    cursor: pointer;
    z-index: 0;
}

.IconRight:hover {
    opacity: 1;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, .75);
    transform: translateX(10%);
}

.IconRight:active {
    opacity: 0;
    transform: translateX(0%);
}

.IconDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s all ease-in-out;
    padding: 1rem;
}

.IconHover {
    display: flex;
    border-radius: 50%;
    transition: .2s all ease-in-out;
    border: 2px solid rgba(255, 255, 255, 0);
}

.IconHover:active {
    opacity: 0;
}

.CardList {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.Carousel {
    width: 80%;
    height: 60vh;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 30px;
    background-color: rgb(23, 23, 23);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
    flex-direction: column;
    color: white;
    transition: .5s all ease-in-out;
    font-size: small;
    scale: .75;
}

.CarouselLeft {
    position: absolute;
    margin-top: 15rem;
    width: 90%;
    height: 60vh;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 30px;
    background-color: rgb(23, 23, 23);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
    flex-direction: column;
    color: white;
    opacity: .5;
    scale: .75;
    transition: .2s all ease-in-out;
    z-index: -1;
    scale: .35;
}

.CarouselRight {
    position: absolute;
    margin-top: -15rem;
    width: 90%;
    height: 60vh;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 30px;
    background-color: rgb(23, 23, 23);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
    flex-direction: column;
    color: white;
    opacity: .5;
    scale: .75;
    transition: .2s all ease-in-out;
    z-index: -1;
    scale: .35;
}

.Name {
    font-size: 2rem;
    font-weight: 300;
    width: 90%;
    margin-top: 16px;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, .75);
}

.LineWrapper {
    width: 100%;
    margin-top: 16px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.Line {
    background: linear-gradient(170deg, rgba(0, 0, 0, 0) 0%, rgb(255, 255, 255) 95%);
    width: 100%;
    height: 1px;
    display: flex;
    justify-content: start;
}

.Line2 {
    background: linear-gradient(170deg, rgb(255, 255, 255) 0%, rgba(210, 30, 196, 0) 95%);
    width: 50%;
    height: 1px;
    margin-top: 16px;
    display: flex;
    justify-content: start;
}

.ImageWrapper {
    width: 90%;
    object-fit: contain;
    height: 5rem;
    overflow: hidden;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 2em;
    border-radius: 10px;
}

.Image {
    object-fit: contain;

    width: 10rem;
}

.StatsWrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 1rem;
}

.Stats {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0.25rem 0;
    font-style: italic;
    font-weight: 200;
    opacity: .5;
}

.Desc {
    width: 90%;
    font-size: 1.5rem;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}

.AppointmentCard {
    width: 50%;
    height: 3rem;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 128px;
    margin-top: 32px;
}

.AppointmentLine {
    background: linear-gradient(170deg, rgb(57, 57, 57) 0%, rgb(255, 255, 255) 100%);
    height: .5px;
    width: 10%;
    background-color: white;
}

.Appointment {
    margin: 0 .5rem;
    font-size: 2rem;
    font-weight: 100;
    font-style: oblique;
}