.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.HeroContainer {
  scroll-snap-align: center;
  width: 100vw;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  background-image: linear-gradient(rgba(4, 9, 30, 0.86), rgba(4, 9, 30, 0.55)),
    url(../Assets/texture2.jpg);
}

.Hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
  flex-direction: column;
}

.HeroHead {
  font-size: 3rem;
  font-style: italic;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
}

.HeroDesc {
  font-size: 1rem;
  letter-spacing: 1rem;
  opacity: .5;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
  font-style: italic;
  margin: 1rem 0 1rem 0;
}

.HeroDesc2 {
  font-size: 1.5rem;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
  padding: 1rem;
  font-style: italic;
  opacity: .75;
}

.HeroLine {
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
  margin: 1rem 0 -1rem 0;
  border-top: 1px solid white;
  padding: 1rem;
  width: 55%;
}

/* Info1 */
.Info1 {
  scroll-snap-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(40, 39, 39);
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  background-image: linear-gradient(rgba(4, 9, 30, 0.1), rgba(4, 9, 30, 0.5)),
    url(../Assets/texture4.jpg);
}

.InfoCard1 {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
  background-color: transparent;
  backdrop-filter: blur(18px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
  padding: 2rem;
  border-image: linear-gradient(#ecd73e, gold) 30;
  border-width: 2px;
  border-style: solid;
  z-index: 1;
  margin-right: 50px;
  margin-bottom: 200px;
  font-style: italic;
}

.InfoImage {
  width: 55%;
  height: 70%;
  object-fit: contain;
  position: absolute;
  right: 0%;
  z-index: 0;
}

.InfoCard2 {
  width: 60%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
  backdrop-filter: blur(18px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
  padding: 2rem;
  border-image: linear-gradient(#ecd73e, gold) 30;
  border-width: 2px;
  border-style: solid;
  z-index: 1;
  margin-right: 200px;
  margin-top: 25px;
}

.InfoCard3 {
  width: 80%;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  color: black;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
  padding: 1rem;
  border-image: linear-gradient(#ecd73e, gold) 30;
  border-bottom: 2px solid;
  z-index: 1;
  color: white;
  font-style: italic;
  font-weight: 200;
  font-size: 3rem;
  margin-left: -10rem;
}

.CardFooter {
  width: 100%;
  display: flex;
  justify-content: end;
  margin: 1rem 0 0 0;
}