.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Hero {
  width: 100vw;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.2)),
    url(../Assets/newyork1.jpg);
}

/* Info1 */
.Info1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(40, 39, 39);
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  background-image: linear-gradient(rgba(4, 9, 30, 0.1), rgba(4, 9, 30, 0.5)),
    url(../Assets/texture4.jpg);
}

.InfoCard1 {
  width: 80%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
  padding: 2rem;
  border-image: linear-gradient(#ecd73e, gold) 30;
  border-width: 2px;
  border-style: solid;
}

.Card1Header {
  width: 100%;
  margin: 0 0 1rem 0;
}

.Card1Footer {
  width: 100%;
  display: flex;
  justify-content: end;
}